@import "~@dewo/app/styles/theme.less";

.integrationcard {
  :global {
    .ant-card-head {
      border-radius: 4px;
      background: @body-background-secondary;
    }

    .ant-card-body  {
      margin: 0;
      padding: 0;
      border: none;
      background: @body-background-secondary;
    }

    .ant-collapse-content-box {
      margin: 20px;
    }
  }
}
