
.tabs {
  padding-top: 12px;
  height: 100%;

  :global {
    .ant-tabs-nav-list {
      flex: 1;
    }

    .ant-tabs-tab div[role="tab"] {
      display: flex;
      align-items: center;
    }
  }
}
