@import "~@dewo/app/styles/theme.less";

.tabs {
  height: 100%;

  > :global(.ant-tabs-nav)
    > :global(.ant-tabs-nav-wrap)
    > :global(.ant-tabs-nav-list) {
    flex: 1;

    padding-left: 12px;
    padding-right: 12px;

    @media (min-width: @screen-sm) {
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  :global {
    .ant-tabs-tab div[role="tab"] {
      display: flex;
      align-items: center;
    }

    .ant-tabs-nav {
      background-color: @body-background-secondary;

      .ant-tabs-nav-operations {
        display: none;
      }
      .ant-tabs-nav-list {
        padding-left: 16px;
      }
    }

    .ant-tabs-tabpane {
      display: flex;
      flex-direction: column;
    }
  }
}

.toolbar {
  padding-top: 8px;
  padding-bottom: 8px;
  column-gap: 16px;

  @media (min-width: @screen-sm) {
    padding-left: 20px + 4px;
    padding-right: 20px + 4px;
  }
}

.tab {
  // https://stackoverflow.com/a/67075990/6912118
  [data-rbd-draggable-id] {
    left: auto !important;
    top: auto !important;
  }
  .tabContent {
    margin-left: 16px;
    margin-right: 16px;
  }
}
