@import '~antd/dist/antd.less';
@import '~antd/lib/style/themes/dark.less';

@border-radius-base: 4px;

textarea {
  resize: none;
}

.ant-tag {
  border-radius: 99999px;
}

.ant-card .ant-card {
  background: #191919;
}

.ant-modal-title {
  text-align: center;
}

.ant-card.ant-card-small .ant-card-body {
  padding-top: 8px;
  padding-bottom: 4px;
}

.ant-btn.ant-btn-ghost {
  background: @btn-text-hover-bg;
}

.ant-btn.hover\:ant-btn-dangerous {
  &:hover, &:active, &:focus {
    background: unset;
    color: @error-color;
    border-color: @error-color;
  }
}

.ant-form-item {
  margin-bottom: 12px;
}

.ant-select-multiple.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background: unset;
  border: none;
  padding: 0;
}

.ant-typography-edit {
  color: @text-color-secondary;
}

// match height with input
.ant-alert {
  padding: 4px 16px;
}

.ant-typography-h1 { .typography-title-1(); margin: 0; }
.ant-typography-h2 { .typography-title-2(); margin: 0; }
.ant-typography-h3 { .typography-title-3(); margin: 0; }
.ant-typography-h4 { .typography-title-4(); margin: 0; }
.ant-typography-h5 { .typography-title-5(); margin: 0; }

.ant-select .ant-select-disabled .ant-select-selector {
  background: unset;
  border: unset;
  padding: 0;
}

.ant-form-vertical .ant-form-item-label {
  padding-bottom: 2px;

  &, & > label {
    color: @text-color-secondary;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
  }
}

.dewo-field {
  &.dewo-field-display:not(:focus) {
    padding-left: 0;
    border-color: transparent;
  }

  &:disabled {
    padding: 0;
    margin: 0;
    background: unset;
    border: unset;
    cursor: unset;
    color: unset;
  }
}

.pointer-cursor {
  cursor: pointer;
}

.dewo-task-board {
  overflow-x: scroll;
  // padding: 0 16px;
  height: 100%;
}

#__next, .ant-layout {
  height: 100%;
}
