@import "~antd/lib/style/themes/dark.less";

@font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
@border-radius-base: 4px;
@primary-color: #8570e4;
@primary-color-25: #8570e444;
@primary-color-50: #8570e488;
@body-background: #00042d;
@twitter-color: #1da1f2;
@component-background: fade(@white, 10%);
@divider-color: fade(@white, 15%);
@border-color-base: fade(@white, 25%);
@border-color-split: fade(@white, 30%);
@btn-text-hover-bg: fade(@white, 10%); // defaults to 3%
@text-color-secondary: fade(@white, 50%); // defaults to 45%
@label-color: fade(@white, 80%); // defaults to 45%
@layout-header-background: transparent;
@layout-sider-background: fade(@white, 10%);
@component-background-highlighted: fade(@white, 20%);
@layout-header-mobile-height: 48px;
@table-header-bg: transparent;
@tag-default-bg: @component-background;
@popover-background: #272732;

@purple-base: #833bff;
@blue-base: #78c6ff;
@yellow-base: #FFD260;
