@import "~@dewo/app/styles/theme.less";

.tabs {
  flex: 1;

  :global {
    .ant-tabs-nav {
      background: @body-background-secondary;
    }

    .ant-tabs-tabpane {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
}
