@import "~@dewo/app/styles/theme.less";

.header {
  // :global {
  //   .ant-page-header-heading {
  //     justify-content: flex-start;
  //   }
  //   .ant-page-header-heading-left {
  //     flex-wrap: wrap;
  //     flex: unset;
  //   }
  // }
}

.mobileMenuButton {
  display: none;
  @media (max-width: @screen-sm) {
    display: flex;
    align-items: center;
    padding-right: 16px;
  }
}
