@import "~@dewo/app/styles/theme.less";

.tabs {
  height: 100%;

  > :global(.ant-tabs-nav) {
    display: none;
  }

  :global {
    .ant-tabs-content-holder {
      display: flex;
      flex-direction: column;

      > .ant-tabs-content {
        flex: 1;
      }
    }

    .ant-tabs-tabpane {
      display: flex;
      flex-direction: column;
    }
  }
}
