@import "~@dewo/app/styles/theme.less";

.tabs {
  height: 100%;

  :global {
    .ant-tabs-nav {
      background: @body-background-secondary;

      .ant-tabs-nav-operations {
        display: none;
      }
    }
  }
}
